@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid pink; */
    letter-spacing: -0.05em;
    color: var(--main-color);
}

:root{
    --main-color : #353535;
    --green-color : #47811A;
    --rad-color : #C80000;
    --top-title-font : 400 16px 'Inter';
    --nav-font : 400 20px 'Inter';
    --sec-title-font : 700 26px 'Inter';
    --list-font : 400 20px 'Inter';
    --year-font : 700 40px 'Inter';
    --info-font : 400 18px 'Inter';
    --footer-font : 400 16px 'Inter';
}

li{ list-style-type: none; }
a{ text-decoration: none; }
.book_title,
.sec3 .title > p{ font: var(--sec-title-font); }
address{ font: var(--footer-font); }

header{ width: 100%; height: 160px; background-color: #fff; border-bottom: 2px solid #eee; }
.contents{ width: 100%; height: 100%; }
footer{ width: 100%; height: 200px; background: #ddd;}
.inner{ max-width: 1280px; height: 100%; margin: 0 auto;}

.iw_overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background: rgba(100, 100, 100, 0.3);
    display: none;
}

.mbt_close{
    width: 50px;
    height: 50px;
    background: #ddd;
    margin: 20px;
    position: absolute;
    left: -100px;
    top: 50px;
    cursor: pointer;
    display: none;
}

header .inner{ display: flex; flex-direction: column; }
header .top{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 10px;
    background: #fff;
    position: relative;
    z-index: 20;
    font : var(--top-title-font);
}
header .top .img_logo{
    width: 230px;
    height: 80px;
    margin: 0 0 5px;
    background: url(/www/project/images/영진닷컴.svg) 50% 100% no-repeat;
}
header .top .menu{
    display: flex;
    align-items: center;
    margin: 0 0 10px;
}
header .top .menu > div{
    width: 1px;
    height: 15px;
    background-color: #000;
    margin: 0 10px;
}
header .bottom{
    height: 70px;
    display: flex;
    justify-content: center;
    background: #fff;
}
header .bottom .gnb{
    height: 70px;
    display: flex;
}
header .bottom .gnb > li{
    height: 100%;
}
header .bottom .gnb > li > a{
    display: block;
    height: 70px;
    padding: 0 50px 0;
    position: relative;
    z-index: 25;
    background: #fff;
    font: var(--nav-font);
    line-height: 70px;
}
header .bottom .lnb{
    position: absolute;
    transform: translateY(-120%);
    z-index: 10;
    transition: all 0.5s;
    background: #fff;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
}
header .bottom .lnb > li{
    height: 50px;
}
header .bottom .lnb > li > a{
    display: block;
    padding: 0 25px;
    font: 400 18px 'Inter';
    line-height: 50px;
}
header .bottom .gnb > li:nth-child(3) > .lnb > li > a{
    padding: 0 90px 0 20px;
}
header .bottom .gnb > li:hover > .lnb{
    transform: translateY(0%);
    transition: all 0.5s;
}
header .bottom .lnb > li:hover{
    background: #ddd;
}
header .bottom .menu{
    display: flex;
    align-items: center;
    gap: 0px 30px;
    padding: 0 20px;
    position: relative;
    z-index: 10;
    background: #fff;
}
header .bottom .ico_search,
header .bottom .ico_mypage,
header .bottom .ico_hambure{
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: #ddd;
}
header .bottom .ico_hambure{ display: none; }

.sec1{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 4px solid #939393;
    padding: 20px 0 0 20px;
}

.sec1 .path{ font: var(--top-title-font); }
.sec1 > div > span::after{ content: ' > '; }
.sec1 > div > span:nth-child(3)::after{ content: ''; }
.sec1 .mini_title { font-weight: 700;} 
.sec1 .sub_title{
    font: var(--sec-title-font);
    display: none; }
.sec1 .on{ display: block; }

.contents .snb{
    width: 180px;
    height: 350px;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: calc(50% - (640px + 180px));
    margin: 45px 0 0 0;
    z-index: 100;
    background: #fff;
}
.snb li{
    width: 100%;
    height: 70px;
    font: var(--nav-font);
    line-height: 70px;
    text-align: center;
    cursor: pointer;
}
.snb li:nth-child(1){
    font-weight: 700;
    background: #ddd;
}
.snb li:nth-child(3){
    letter-spacing: -0.2em;
    font-size: 16px;
}
.snb li:hover{ background: #ddd; }
.snb li.on { 
    font-weight: 700;
    background: #ddd; }
.snb.out{
    display: none;
}

.sec2{
    height: 500px;
    padding: 0 80px 0;
    display: flex;
    align-items: center;
    gap: 60px;
    border-bottom: 4px solid #939393;
}
.sec2 .img_book{
    width: 320px;
    height: 384px;
    background: #ddd;
}
.sec2 .box_word{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.sec2 .box_info{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.sec2 .box_info .info_title{
    display: inline-block;
    width: 120px;
    font: var(--info-font);
}
.sec2 .box_info .info{ font: var(--info-font); }
.sec2 .box_word > div:last-child{
    margin: 30px 0 0 0;
    display: flex;
    gap: 30px;
}
.sec2 .box_word .bt{
    padding: 12px 40px;
    border: 1px solid #000;
    font: var(--list-font);
}

.sec3{
    height: 100%;
    padding: 50px 0 200px 25px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.sec3 .title{
    padding: 40px 0 5px 0;
    display: flex;
    gap: 20px;
    align-items: flex-end;
}
.sec3 .title .img_pre{
    width: 45px;
    height: 45px;
    background: #ddd;
}
.sec3 .box_word{
    padding: 20px 20px 20px 15px;
    font: var(--info-font);
    line-height: 28px;
}

footer .inner{
    display: flex;
    justify-content: space-between;
}
footer .left{
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .left .img_logo{
    width: 230px;
    height: 80px;
    background: url(/www/project/images/영진닷컴.svg) 50% 50% no-repeat;
}
footer .right{
    width: 940px;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 30px;
}
footer .right .top{
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
footer .right .top .menu > a {
    margin: 0 20px 0 0;
}
footer .right .top .site{
    display: flex;
    gap: 10px;
}
footer .right .top .ico{
    width: 50px;
    height: 50px;
    background: #ddd;
}
footer .right .bottom{
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
}