.inner{width: 100%;}
header .bottom{ justify-content: flex-end; }
header .bottom .ico_hambure.on{ display: block; }

.iw_overlay.on{ display: block; }

nav{
    width: 520px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 200;
    background: #fff;
    display: none;
}
nav > .mtop{
    width: 100%;
    height: 180px;
    padding: 20px 20px 20px 50px;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #eee;
}
nav .mlogo{
    width: 230px;
    height: 80px;
    background: url(/www/project/images/영진닷컴.svg) no-repeat center;
}
nav.on{ display: block; }
nav > .mbt_close.on{ display: block; }

header .bottom .gnb{
    width: 100%;
    height: auto;
    margin: 20px 0 0 0;
    display: block;
}
header .bottom .gnb > li > a{
    padding: 0 0 0 50px;
    position: static;
}
header .bottom .lnb{
    width: 100%;
    position: relative;
    transform: none;
    transition: none;
    box-shadow: none;
    background: #eee;
}
header .bottom .lnb > li > a,
header .bottom .gnb > li:nth-child(3) > .lnb > li > a{ padding: 0 0 0 60px; }
header .bottom .gnb > li:hover > .lnb{
    transform: none;
    transition: none;
}
