@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid pink; */
    letter-spacing: -0.05em;
    color: var(--main-color);
}

:root{
    --main-color : #353535;
    --green-color : #47811A;
    --rad-color : #C80000;
    --hf-bg-color : #E9EEF0;
    --top-title-font : 400 16px 'Inter';
    --nav-font : 400 20px 'Inter';
    --sec-title-font : 700 26px 'Inter';
    --list-font : 400 20px 'Inter';
    --year-font : 700 40px 'Inter';
    --info-font : 400 18px 'Inter';
    --footer-font : 400 16px 'Inter';
}

li{ list-style-type: none; }
a{ text-decoration: none; }
.book_title,
.sec3 .title > p{ font: var(--sec-title-font); }

header{ width: 100%; height: 160px; background-color: var(--hf-bg-color); }
.contents{ width: 100%; height: 100%; }
footer{ width: 100%; height: 200px; background: var(--hf-bg-color);}
.inner{ max-width: 1280px; height: 100%; margin: 0 auto;}

.iw_overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background: rgba(100, 100, 100, 0.3);
    display: none;
}

.mbt_close{
    width: 50px;
    height: 50px;
    background: url(/www/project/images/cancel_FILL1_wght700_GRAD200_opsz48.svg) no-repeat center / cover;
    margin: 20px;
    position: absolute;
    left: -100px;
    top: 50px;
    cursor: pointer;
    display: none;
}
.mtop, .mbottom{ display: none; }

header .inner{ display: flex; flex-direction: column; }
header .top{
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 30px;
    background: var(--hf-bg-color);
    position: relative;
    z-index: 20;
    font : var(--top-title-font);
}
header .top .img_logo{
    width: 230px;
    height: 80px;
    margin: 0 0 5px;
    background: url(/www/project/images/영진닷컴.svg) no-repeat center / contain;
}
header .top .menu{
    display: flex;
    align-items: center;
    margin: 0 0 10px;
}
header .top .menu .text:hover{ color: #000 }
header .top .menu > div{
    width: 1px;
    height: 15px;
    background-color: var(--main-color);
    margin: 0 10px;
}
header .top > .ico_hambure{
    width: 50px;
    height: 50px;
    margin: 0 0 10px 0;
    cursor: pointer;
    background: url(/www/project/images/menu.svg) no-repeat center;
    display: none;
}
header .bottom{
    height: 70px;
    display: flex;
    justify-content: center;
    background: var(--hf-bg-color);
}
header .bottom .gnb{
    height: 70px;
    display: flex;
}
header .bottom .gnb > li{
    height: 100%;
}
header .bottom .gnb > li > a{
    display: block;
    height: 70px;
    padding: 0 50px 0;
    position: relative;
    z-index: 25;
    background: var(--hf-bg-color);
    font: var(--nav-font);
    line-height: 70px;
}
header .bottom .lnb{
    position: absolute;
    transform: translateY(-120%);
    z-index: 10;
    transition: all 0.5s;
    background: #fff;
    box-shadow: 0px 2px 0px var(--hf-bg-color);
}
header .bottom .lnb > li{ height: 50px; }
header .bottom .lnb > li > a{
    display: block;
    padding: 0 25px;
    font: 400 18px 'Inter';
    line-height: 50px;
}
header .bottom .gnb > li:nth-child(3) > .lnb > li > a{
    padding: 0 90px 0 20px;
}
header .bottom .gnb > li:hover > .lnb{
    transform: translateY(0%);
    transition: all 0.5s;
}
header .bottom .lnb > li:hover{ background: var(--hf-bg-color); }
header .bottom .menu{
    display: flex;
    align-items: center;
    gap: 0px 30px;
    padding: 0 20px;
    position: relative;
    z-index: 10;
    background: var(--hf-bg-color);
}
.ico_search,
.ico_mypage{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.ico_search{
    background: url(/www/project/images/검색.svg) no-repeat center / 45px 45px;
}
.ico_mypage{
    background: url(/www/project/images/person_FILL0_wght700_GRAD0_opsz48.svg) no-repeat center / 35px 35px;
}

.sec1{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 4px solid #939393;
    padding: 20px 0 0 20px;
}

.sec1 .path{ font: var(--top-title-font); }
.sec1 > div > span::after{ content: ' > '; }
.sec1 > div > span:nth-child(3)::after{ content: ''; }
.sec1 .mini_title { font-weight: 700;} 
.sec1 .sub_title{
    font: var(--sec-title-font);
    display: none; }
.sec1 .on{ display: block; }

.contents .snb{
    width: 180px;
    height: 350px;
    display: flex;
    flex-direction: column;
    position: fixed;
    left: calc(50% - (640px + 180px));
    margin: 45px 0 0 0;
    z-index: 100;
    background: #fff;
}
.snb li{
    width: 100%;
    height: 70px;
    font: var(--nav-font);
    line-height: 70px;
    text-align: center;
    cursor: pointer;
}
.snb li:nth-child(1){
    font-weight: 700;
    background: #ddd;
}
.snb li:nth-child(3){
    letter-spacing: -0.2em;
    font-size: 16px;
}
.snb li:hover{ background: var(--hf-bg-color);}
.snb li.on { 
    font-weight: 700;
    background: var(--hf-bg-color); }
.snb.out{
    display: none;
}

.sec2{
    width: 100%;
    height: 500px;
    padding: 0 80px 0;
    display: flex;
    align-items: center;
    gap: 60px;
    border-bottom: 4px solid #939393;
}
.sec2 .img_book{
    width: 320px;
    height: 384px;
    background: #ddd;
}
.sec2 .box_word{
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.sec2 .box_info{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.sec2 .box_info > div{ display: flex; }
.sec2 .box_info .info_title{
    display: block;
    width: 30%;
    font: var(--info-font);
}
.sec2 .box_info .info{
    display: block;
    width: 70%;
    font: var(--info-font);
}
.sec2 .box_word > div:last-child{
    margin: 30px 0 0 0;
    display: flex;
    justify-content: space-between;
}
.sec2 .box_word .bt{
    padding: 12px 40px;
    border: 1px solid #000;
    font: var(--list-font);
}

.sec3{
    height: 100%;
    padding: 50px 0 200px 25px;
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.sec3 .title{
    padding: 40px 0 5px 0;
    display: flex;
    gap: 25px;
    align-items: center;
}
.sec3 .title .img_pre{
    width: 45px;
    height: 45px;
}
.sec3 .box_word{
    padding: 20px 20px 20px 15px;
    font: var(--info-font);
    line-height: 28px;
}
.intro_book .img_pre{ background: url(/www/project/images/book.svg) no-repeat center; }
.intro_writer .img_pre{ background: url(/www/project/images/pen.svg) no-repeat center; }
.intro_index .img_pre{ background: url(/www/project/images/bookmark.svg) no-repeat center; }

footer .inner{
    display: flex;
    justify-content: space-between;
}
footer .left{
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .left .img_logo{
    display: block;
    width: 230px;
    height: 80px;
    background: url(/www/project/images/영진닷컴.svg) 50% 50% no-repeat;
}
footer .right{
    width: 940px;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 30px;
    font: var(--footer-font);
}
footer .right address{ font: var(--footer-font); }
footer .right .top{
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
footer .right .top .menu{
    display: flex;
    gap: 20px;
}
footer .right .top .menu > a:hover{ color: #000; }
footer .right .top .site{
    display: flex;
    gap: 10px;
}
footer .right .top .site > .ico{
    width: 50px;
    height: 50px;
}
footer .right .top .site > .ico > a{
    display: block;
    width: 100%;
    height: 100%;
    background: url(/www/project/images/snslogo.svg) no-repeat center/ cover;
}
footer .right .top .site > .cafe > a{ background-position: -302px 2px; }
footer .right .top .site > .blog > a{ background-position: -182px 2px; }
footer .right .top .site > .star > a{ background-position: -2px 2px; }
footer .right .top .site > .face > a{ background-position: -62px 2px; }
footer .right .top .site > .yutube > a{ background-position: -242px 2px; }
footer .right .top .site > .ico > a:hover{
    transform: scale(1.02, 1.02);
    opacity: 0.8;
}

footer .right .bottom{
    height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
}