:root{
    --main-color : #353535;
    --top-title-font : 400 16px 'Inter';
    --nav-font : 400 20px 'Inter';
    --quickMenu-title-font : 400 16px 'Inter';
    --book-info-font : 400 20px 'Inter';
    --book-summary-font : 400 18px 'Inter';
    --list-font : 400 20px 'Inter';
    --footer-font : 400 16px 'Inter';
}

/* nav 안에 홈, 로그인, 회원가입, 서치, 마이페이지, 푸터 카피라이터 부분 옮겨오기 */

.inner{ width: 100%; }

.sec2{ height: auto; }
.sec2 .inner{ flex-wrap: wrap; justify-content: center; gap: 18%;}
.sec2 .menu_quick{
    flex: 0 0 1;
    margin: 10px 0 10px;
}
.sec2 .menu_quick > p > span{
    font-size: 14px;
}
.sec3 .bottom{
    background: #eee;
}
.sec3 .bottom .left{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
}
.sec3 .bottom .swiper{
    width: 50%;
    padding: 50px 0;
}
.sec4 {
    height: 100%;
    padding: 50px 0 50px;
}
.sec4 .bottom{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}
.sec4 .bottom .right{ padding: 30px 0 0; }

.sec5 { height: 100%; }
.sec5 .inner{ 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 100px;
}
.sec5 .left,
.sec5 .right{
    width: 100%;
    align-items: center;
    padding: 20px 0 20px;
}
.sec5 .left .list{ width: 600px; }
