@charset "utf-8";

*{ word-break: keep-all; }

.inner{
    width: 90%;
    height: 100%;
}

.middle .group {
    flex-direction: column;
    width: 100%;
    height: 100%;
}

/* .middle h2 > br{
    display: none;
} */

.middle .group > .mem{
    margin-bottom: 60px;
}

.middle .group > .member2, .middle .group > .member3{
    padding-top: 0px;
}