@charset "utf-8";

*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    /* outline: 1px solid pink; */
}

h1{
    font: bold 6.25em Roboto;
    color: white;
    text-shadow: 5px 5px 10px rgba(0,0,0,1);
    letter-spacing: 15px;
}
h2{ font: bold 3em Roboto; }
h3{ font: bold 2em Roboto; }
p,a{
    font: normal 1.25em Roboto;
    color: white;
    text-decoration: none;
}
a{
    padding: 15px 40px;
    background: #009882;
}


.sec1{
    width: 100%;
    height: 800px;
    background-image: url(/images/2hyundaiLC/섹션1.png);
    background-size: 100% 800px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}
    .sec1 .sec1_in{
        width: 1200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .sec1 .sec1_in > h1,
    .sec1 .sec1_in > h2,
    .sec1 .sec1_in > p{
        text-align: center;
    }
    .sec1 .sec1_in > h2{
        margin: 15px 0px;
        color: #009882;
    }
    .sec1 .sec1_in > a{
        margin-top: 100px;
    }


.sec2{
    height: 800px;
    display: flex;
    justify-content: center;

}

    .sec2 .sec2_L{
        width: 50%;
        background:white;
        display: flex;
        justify-content: right;
        position: relative;
    }
    .sec2 .sec2_L > div {
        width: 600px;
        height: 800px;
        padding-top: 120px;   
    }
    .sec2 .sec2_L_img{
        width: 720px;
        height: 400px;
        background-image: url(/images/2hyundaiLC/PRODUCT.png);
        background-repeat: no-repeat;
        position: absolute;
    }

    .sec2 .sec2_R{
        width: 50%;
        background:#009882;
        display: flex;
        justify-content: left;
    }
    .sec2 .sec2_R > div {
        width: 600px;
        height: 800px;
        padding: 250px 0px 0px 180px;
        color: white;
    }
    .sec2 .sec2_R > div > h3 {
        margin: 40px 0;
        font-weight: normal;
    }
    .sec2 .sec2_R > div > p {margin: 40px 0;}


.sec3{
    height: 800px;
    display: flex;
    justify-content: center;
}
    .sec3 .sec3_L{
        width: 50%;
        background:#F4F4F4;
        display: flex;
        justify-content: right;
    }
    .sec3 .sec3_L .sec3_L_img{
        width: 600px;
        height: 400px;
        background: url(/images/2hyundaiLC/섹션3_L.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 40px 40px;
        margin-top: 80px;
        position:relative;
    }
    .sec3 .sec3_L .sec3_L_img > h3{
        color: white;
    }
    .sec3 .sec3_L .sec3_L_img > a{
        background: rgba(256,256,256,0);
        border: 1px solid white;
        color: white;
        position:absolute;
        top: 310px;
        right: 40px
    }
    .sec3 .sec3_L .sec3_L_img > a > span{color:#009882;}

    .sec3 .sec3_R{
        width: 50%;
        background:white;
        display: flex;
        justify-content: left;
    }
    .sec3 .sec3_R > div {
        width: 600px;
        margin-top: 40px;
    }
    .sec3 .sec3_R .sec3_R_img{
        height: 400px;
        background: url(/images/2hyundaiLC/섹션3_R.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 40px 40px;
        margin-top: 40px;
        position:relative;
        
    }
    .sec3 .sec3_R .sec3_R_img > a{
        position:absolute;
        top: 310px;
        right: 40px;
    }



.sec4{
    width: 100%;
    height: 600px;
    background-image: url(/images/2hyundaiLC/섹션4.png);
    background-size: 100% 800px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}
    .sec4 .sec4_in{
        width: 1200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .sec4 .sec4_in > h1{
        font-size: 4em;
        margin-top: 160px;
        letter-spacing: 0px;
    }
    .sec4 .sec4_in > a{
        padding: 50px 50px;
    }
    .sec4 .sec4_in > h1,
    .sec4 .sec4_in > p{
        text-align: center;
    }