@charset "utf-8";

button{
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.top h1{
    margin: 0 30px; 
    word-break: keep-all;
}

.middle .box{
    flex: 1 1 50%;
    margin: 0 0 20px;

}

.middle .b2, .middle .b3, .middle .b7{
    margin-bottom: 0;
} 

.middle .b1{
    order: 1;
    height: 100px;
    flex-basis: 100%;
}
.middle .b2{ order: 2; }
.middle .b3{
    order: 3;
    font-size: 1.65em;
}
.middle .b4{ order: 4; }

.middle .b5{
    order: 6; 
    background: #36C1D3;
}
.middle .b5 .title, .middle .b5 .content{ color: #fff; }
.middle .b5 .date{ color: rgba(255,255,255,0.7);}
.middle .b5 button{
    border: 1px solid rgba(255,255,255,0.7);
    color: rgba(255,255,255,0.7);
}
.middle .b5 button:hover{
    border: 1px solid rgba(255,255,255,1);
    color: rgba(255,255,255,1);
}

.middle .b6{
    order: 6;
    height: 100px;
    flex-basis: 100%;
}
.middle .b7{
    order: 7;
    flex-basis: 100%;}
.middle .b8{ display: none; }

.middle .b9{
    order: 8;
    flex-basis: 100%;
    background: #7F7F7F;
}
.middle .b9 .title, .middle .b9 .content{ color: #fff; }
.middle .b9 .date{ color: rgba(255,255,255,0.7);}
.middle .b9 button{
    border: 1px solid rgba(255,255,255,0.7);
    color: rgba(255,255,255,0.7);
}
.middle .b9 button:hover{
    border: 1px solid rgba(255,255,255,1);
    color: rgba(255,255,255,1);
}

.middle .b10{ order: 9; }
.middle .b11{
    order: 10;
    font-size: 1.65em;
}