@charset "utf-8";

.inner{
    width: 100%;
}
.middle{
    justify-content: center;
}
.middle .box{
    flex: 1 1 30%;
    margin: 0 10px 20px;
}
.middle .b1{ order: 1; }
.middle .b2{ order: 2; }
.middle .b3{ order: 3; }
.middle .b4{ order: 6; }
.middle .b5{ order: 4; }
.middle .b6{ order: 5; }
.middle .b7{ order: 9; }
.middle .b8{ order: 10; }
.middle .b9{ order: 7; }
.middle .b10{ order: 8; }
.middle .b11{ order: 11; }

