@charset "utf-8";

.inner{
    width: 100%;
}
header .inner .nav .gnb > li > a{
    display: none;
}
.sec1{
    height: 100%;
}

.sec1 .inner{
    flex-direction: column;
    align-items: center;
    
}
.sec1 .R{
    padding: 0;
    position: relative;
    height: 200px;
    width: 415px;
    align-items: flex-start;
    margin: 0 0 20px;
}
.sec1 .R .subBt{
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    left: calc(50% - 95px/2 + 140px);
    gap: 10px 0px;
}
.sec1 .R .subBt > .sBt{
    width: 90%;
    height: 40px;
    margin: 0 0 0 10px;
}
.sec1 .R .subBt > .sBt:nth-child(2){
    width: 90%;
}
.sec1 .R .map{
    display: none; 
}
.sec1 .R .detailBt{
    width: 100%;
}
.sec3{ height: 100%; }
.sec3 .inner{
    width: 90%;
}
.sec3 .roadList{
    height: 100%;
    margin: 40px 0;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.sec4 .hcontents, .ncontents{
    justify-content: flex-start;
    overflow-x: scroll;
    gap: 20px;
    padding: 0 0 0 10px;
}
.sec4 .conBox{
    width: 220px;
    height: 275px;
    flex: 0 0 auto;
}

.sec5{
    height: 100%;
    position: relative;
}
.sec5 .quick{
    position: absolute;
    /* display: none; */
    top: 435px;
}