@charset "utf-8";

p { padding: 10px 50px; }
.paper { text-indent: 50px; }

a.link_bt > span { display: none; }

a.indent_bt {
    width: 300px;
    height: 300px;
    display: block;
    background: url(/images/apple.png) center center no-repeat;
    background-size: contain;
    text-indent: -9000px;
    overflow: hidden;
}
/* 태그를 여러겹으로 쓰지 않고, a링크 하나만 운용하고 싶을때 css 조합을 이용하여 디자인과 웹표준, 웹접근성을 다 지켜서 선언하는 방법 */

a.txt_bt {
    display: block;
    text-indent: 20px;
    /* overflow: hidden; */
}