@charset "utf-8";

*{
    /* outline: 1px solid pink; */
    margin: 10px;
}

h1{ background: beige; }
#container{ background: lightgray; }
span{ color: red; }
h2 + p > span{ color: blue; }
.tea1{ background: beige; }